RewriteEngine On

# Redirect www to non-www version
RewriteCond %{HTTP_HOST} ^www\.iconschoolofexcellence\.com [NC]
RewriteRule ^(.*)$ https://iconschoolofexcellence.com/$1 [L,R=301]

# Redirect all 404 errors to the homepage
ErrorDocument 404 /index.astro
